<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Elessar</title>
</head>
<body>
<form action="/beacons" method="post">
    <fieldset>
        <legend>Beacons</legend>
        <label for="scan_period">Scan period: </label>
        <input type="number" id="scan_period" name="scan_period" value="{{ scan_period }}">
        <ul>
            {% for beacon in beacons.values() %}
                {% set beacon_field = 'beacon[' ~ beacon.id ~ ']' %}
                <li>
                    <input type="checkbox" id="{{ beacon_field }}" name="beacon[]" value="{{ beacon.id }}" checked>
                    <label for="{{ beacon_field }}">{{ beacon.name }}</label>
                </li>
            {% endfor %}
            {% for beacon in available_beacons.values() %}
                {% if not beacon.id in beacons %}
                    {% set beacon_field = 'beacon[' ~ beacon.id ~ ']' %}
                    <li>
                        <input type="checkbox" id="{{ beacon_field }}" name="beacon[]" value="{{ beacon.id }}">
                        <label for="{{ beacon_field }}">{{ beacon.name }}</label>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <input type="submit" value="Submit">
    </fieldset>
</form>

<form action="/bridges" method="post">
    <fieldset>
        <legend>Hue Bridges</legend>
        <label for="force_lights_state">Force lights state: </label>
        <input type="checkbox" id="force_lights_state" name="force_lights_state" {% if force_lights_state %}checked{% endif %}>
        <ul>
            {% for bridge in bridges.values() %}
                {% set bridge_field = 'bridge[' ~ bridge.id ~ ']' %}
                <li>
                    <input type="checkbox" id="{{ bridge_field }}" name="bridge[]" value="{{ bridge.id }}" checked>
                    <label for="{{ bridge_field }}">
                        {{ bridge.name }}
                        {% if bridge.connected %}
                            connected
                        {% elif bridge.id in available_bridges %}
                            available, try to press the link button
                        {% else %}
                            disconnected
                        {% endif %}
                    </label>
                    {% if bridge.connected %}
                        <ul>
                            {% for group_id, group_name in bridge.available_groups.items() %}
                                {% set group_field = 'group[' ~ bridge.id ~ '][' ~ group_id ~ ']' %}
                                <li>
                                    <input type="checkbox" id="{{ group_field }}" name="group[{{ bridge.id }}][]"
                                           value="{{ group_id }}"
                                           {% if group_id in bridge.group_ids %}checked{% endif %}>
                                    <label for="{{ group_field }}">{{ group_name }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}

            {% for bridge_id, bridge_name in available_bridges.items() %}
                {% if not bridge_id in bridges %}
                    {% set bridge_field = 'bridge[' ~ bridge_id ~ ']' %}
                    <li>
                        <input type="checkbox" id="{{ bridge_field }}" name="bridge[]" value="{{ bridge_id }}">
                        <label for="{{ bridge_field }}">{{ bridge_name }} available</label>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <input type="submit" value="Submit">
    </fieldset>
</form>
</body>
</html>
